.restaurant-grid {
  width: 90%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

.restaurants-section {
  width: 90%;
  margin: 40px auto;
}

.restaurants-section {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto 60px;
  padding: 0;
}

.restaurants-section p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
